body {
  background-color: burlywood;
}
.container {
  background-color: white;
  height: 100%;
}

#welcomeDiv {
  height: 100px;
}

#welcome {
  text-align: center;
  text-shadow: 2px 1px blue;
  width: fit-content;
  user-select: none;
  transition: all 1s;
}

#welcome:hover {
  cursor: default;
  font-size: 80px;
  color: white;
  text-shadow: 4px 2px blue;
}

#loading {
  display: flex;
  justify-content: space-around;
  height: 100%;
  background-color: #333331;
}
#loadingDiv {
  width: 200px;
  height: 50px;
  border: 1px solid black;
  border-radius: 10px;
  background-image: url(../images/loading.png);
  background-repeat: no-repeat;
  background-size: cover;
  animation: example2 2000ms infinite;
}
@keyframes example2 {
  0% {
    margin-top: 0%;
  }
  100% {
    margin-top: 400px;
  }
}
#runner {
  height: 45px;
  position: relative;
  animation: example 1000ms infinite alternate;
}
@keyframes example {
  0% {
    left: 5px;
  }
  100% {
    left: 155px;
    transform: rotateY(180deg);
  }
}
